<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <i class="fas fa-database me-2"></i>ScrapingApp
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('index') }}" href="{{ url_for('index') }}">
                        <i class="fas fa-home me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-cloud-download-alt me-1"></i>Platforms
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('youtube') }}"><i class="fab fa-youtube text-danger me-2"></i>YouTube</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('facebook') }}"><i class="fab fa-facebook text-primary me-2"></i>Facebook</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('twitter') }}"><i class="fab fa-twitter text-info me-2"></i>Twitter</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('website') }}"><i class="fas fa-globe text-success me-2"></i>Website</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('news') }}"><i class="fas fa-newspaper text-warning me-2"></i>News</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if request.path == url_for('about') }}" href="{{ url_for('about') }}">
                        <i class="fas fa-info-circle me-1"></i>About
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>